@model Student

<form method="post">
    <input asp-for="Name" class="form-control" placeholder="Student Name" /><br />
    <input asp-for="Surname" class="form-control" placeholder="Student Surname" /><br />
    <input asp-for="Age" class="form-control" placeholder="Student Age" /><br />
    <input asp-for="Phone" class="form-control" placeholder="Student Phone" /><br />
    <input asp-for="Email" class="form-control" placeholder="Student E-mail Adress" /><br />

    <button class="btn btn-primary" type="submit">Ekle</button>
</form>